{% load static %}
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>PING TESTER!</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
  <link href="{% static "bootstrap513/css/bootstrap.min.css" %}" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <div class='container'>
    <div class='row'>
      <h1 class='m-4'>PING TESTER!</h1>
    </div>
    <div class='row'>
      <div class="col">
        <button class="btn btn-primary float-end m-2"  onclick="update_all()">
          Test all!
        </button>
      </div>

    </div>
    <div class='row'>
      <table id="hosts-table" class="table table-sm table-striped table-bordered mb-5 align-middle">
        <tr>
          <th>Type</th>
          <th>Host name</th>
          <th>Address</th>
          <th>Status</th>
          <th>Time</th>
          <th>Lost(2)</th>
          <th>Date</th>
          <th>Last Date Alive</th>
          <th style="width: 79px;"></th>
        </tr>
        {% for host in hosts %}
          <tr id="{{host.pk}}" {% if host.acknowledged %} style="background-color: bisque;" {% endif %}>
            
            <td>{{host.host_type}}</td>
            
            <td>{{host.name}}</td>
            
            <td>{{host.ip_address}}</td>
            
            <td style='text-align:center;'>
              {% if host.status == 1 %}
                OK
              {% else %}
                <span>&#128308;</span>
              {% endif %}
            </td>
            
            <td>{{host.rtt_avg_ms}}ms</td>
            
            <td>{{host.packets_lost}}</td>
            
            <td style='font-size: 0.7rem;'>{{host.formated_date}}</td>
            
            <td style='font-size: 0.7rem;'>
              {% if host.last_date_alive %}
                {{host.formated_last_date_alive}}
              {% endif %}
              </td>

            <td style='text-align:center;'>
              <button style='font-size: 0.7rem;' type="button" class="btn btn-outline-info mw-75 fw-light" onclick="update_ping( {{host.pk}} )">
                PING
              </button>
            </td>

          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <script src= "{% static "jquery/jquery-3.3.1.min.js" %}"></script>
  <script>

      function update_ping(pk){
        let selpk = "#" + pk;
        let button = $(selpk).find('button');
        let sel = $(selpk)[0];
        $.ajax({
            type: 'GET',
            url: "/get/ajax/update_ping",
            data: {"pk": pk},
            beforeSend: function () {
              button.prop("disabled", true);
              button[0].innerHTML = '<span style="width: 0.8rem; height: 0.8rem;" class="spinner-border spinner-border-sm text-warning" role="status" aria-hidden="true"></span>';
            },
            success: function (response) {
              let status = 'OK';
              if (response['status'] == '0'){
                status = '<span>&#128308;</span>';
              };
              sel.cells[0].innerText = response['host_type'];
              sel.cells[1].innerText = response['name'];
              sel.cells[2].innerText = response['ip_address'];
              sel.cells[3].html      = status;
              sel.cells[4].innerText = response['rtt_avg'] + "ms";
              sel.cells[5].innerText = response['packets_lost'];
              sel.cells[6].innerText = response['date'];
              sel.cells[7].innerText = response['last_date_alive'];
            },

            error: function (response) {
                console.log(response)
            },

            complete: function () {
              button.prop("disabled", false);
              button[0].innerHTML = 'PING';
            },

        })
      };

      function update_all(){

        hosts_table = document.getElementById('hosts-table')
        for (let i = 1; i < hosts_table.rows.length; i++) {
          // iterate through all rows and 'click' the buttons
          tr = hosts_table.rows[i]
          td = tr.lastElementChild
          td.firstElementChild.click()
        }

      }

  </script>




</body>

</html>